<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="disqord-test" value="https://pkgs.dev.azure.com/rannick100274/Disqord/_packaging/disqord-test/nuget/v3/index.json" />
  </packageSources>
</configuration>
